/**
  *
  * Style sheet for MyriadCore website
  * 
  * This sheet is to be used in conjunction with the current style sheet and is only a FIX
  *
  * Author - Kevin James Phillips For MyriadCore
  *
  *
  **/

nav {height:50px; overflow:visible;}

.navbar-inverse {background-color:rgba(34,34,34, .9); opacity:1 !important;}

.navbar-collapse {pointer-events: none;}

nav .navbar-header {width:253px; height:114px; background-color: transparent; border-bottom:4px solid #5BA73B; border-top:none; border-bottom-right-radius:1em; background-image:linear-gradient(to bottom, rgba(34,34,34, 0), rgba(34,34,34, .9) 100%);}

.columns-bg {
  background-image:
    linear-gradient(
      to bottom, 
      rgba(34,34,34, 0),
      rgba(34,34,34, 0) 50px,
      rgba(34,34,34, .9) 50px
    ) !important;
}

nav .phoneSection {border:none; background-color:transparent;}

nav .phoneSection a {display:inline-block; padding:.3em .7em .4em; border-radius:3px; background-color:#5BA73B; vertical-align:middle; text-decoration:none; color:#fff; font-weight:400; border:none; box-sizing:border-box;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;

}

nav .phoneSection a:hover {background-color:rgba(54,54,54,.75); border:1px solid #fff;}

/* - Colors - */

.mc-grn-txt {color:#5BA73B;}

h2 {font-weight:600; color:#4F6382  !important;}

{color:#4F6382;}

#main-nav-mc li a {background-color:#4B4B4B;}

#take-me-home {padding-right: 2.2em !important;}

#main-nav-mc li a:hover, #main-blog-link li a:hover {background-color:#5cb85c; color:#333;}

.down-arw-btn {display:inline-block; position:relative; width:2em; height:2em; background:#060; text-align:center; border-radius:1em; border:3px solid #fff; box-sizing:border-box; overflow:hidden; vertical-align:middle; line-height:2em;  margin-right:1.5em;}

.dwn-inside {display:inline-block; color:#fff; position:absolute; top:8px; left:8px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;

}

a#down-mc-btn:hover, a#down-mc-btn {text-decoration:none;}

a#down-mc-btn:hover > .down-arw-btn > .dwn-inside {top:48px;}

.btn-wrap-mc {color:#5BA73B;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;

}

.ggl-sscrl {margin:1.5rem auto 0; float:none;}

.hme-sscrl {margin:5rem auto 0; float:none;}

nav ul li a {pointer-events: auto;}

#main-nav-mc li a:hover > .btn-wrap-mc, .navbar-right li a:hover > .btn-wrap-mc {color:#fff;}

#main-nav-mc li {border-right:1px solid #333;}

.jumbotron {background-image: url("../img/homepage-mc.jpg"); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 600px;}

.ecommerceJumbotron {
  background-image: url("../img/banner_ecommerce-mc.jpg"); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 600px;}
  
.googleJumbotron {background-image: url("../img/banner_moneyshot.jpg"); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 600px;}

p {color:#333 !important;}

.acord-minus-me:after { color: #007fc3; content: "\e082" !important; float: left; font-family: 'Glyphicons Halflings'; font-size: 25px; padding-right: 15px;}

.mc-home #take-me-home, .mc-google #popGoogle, .mc-ecom #popEcommerce {background-color:#5ba73b;}

.mc-home #take-me-home span, .mc-google #popGoogle span, .mc-ecom #popEcommerce span {color:#fff;}

.mc-dsktop {display:block !important;}

.mc-mobile {display:none !important;}

.mc-bio-btn:before {content:"Bio";}

.mc-bio-btn {display:inline-block; padding:.5em 3em; background-color:#555; color:#fff; border-radius:6px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;

}

.mc-bio-btn:hover {text-decoration:none; background-color:#5ba73b; color:#fff;}

/* go to top btn */

.mc-go-to-top {position:fixed; bottom:3em; right:3em; padding:2.4em; background-color: transparent; color:#fff; font-weight:600; background-image:url(../img/back-to-top.png); background-position:center center; background-size:contain; opacity:.7; display:none}

.mc-go-to-top:hover {text-decoration:none; opacity:1;}

/*--------------------------------------------------------------------*/

.topTier h2 { 
font-family: Verdana; 
color: #ffffff; 
font-size: 25px; 
/*background-color: #5cb85c; */
border-bottom: 1px solid #464646;
line-height: 40px; 
}
 
.topTier p { 
color: #ffffff;
font-family: Verdana, sans-serif; 
font-size: 16px;  
}

.newhover { 
/*width: 300px; */
/*height: 250px;*/
height: 220px;
margin: auto; 
position: relative; 
overflow: hidden;  
border-right: 1px solid rgb(148, 148, 148);
/*background-color: rgb(192, 192, 192);*/
}
 
 
.newhover img { 
transition: 0.5s; 
-moz-transition: 0.5s; /* Old Firefox */
-webkit-transition: 0.5s;  /* Safari & Chrome */
-o-transition: 0.5s;  /* Opera */
} 
 
 
.newhover .effect, .hoverover .content { 
/*width: 300px; */
height: 250px; 
left: 0;
overflow: hidden;
position: absolute;
top: 0;
} 
 
.newhover .effect { 
background-color: #ffffff;
transform: translateY(-250px) rotate(0deg); 
-moz-transform: translateY(-250px) rotate(0deg); /* Old Firefox */
-webkit-transform: translateY(-250px) rotate(0deg);  /* Safari & Chrome */
-o-transform: translateY(-250px) rotate(0deg); /* Opera */
opacity: 0.9;
}
 
.newhover:hover .effect  { 
transition: 0.5s; 
-moz-transition: 0.5s; /* Old Firefox */
-webkit-transition: 0.5s; /* Safari & Chrome */
-o-transition: 0.5s; /* Opera */
transform: translateY(0px) rotate(360deg); 
-moz-transform: translateY(0px) rotate(360deg); /* Old Firefox */
-webkit-transform: translateY(0px) rotate(360deg); /* Safari & Chrome */
-o-transform: translateY(0px) rotate(360deg); /* Opera */
} 
 
.newhover:hover img { 
transform: translateY(-250px) rotate(180deg);
-moz-transform: translateY(-250px) rotate(180deg); /* Old Firefox */
-webkit-transform: translateY(-250px) rotate(180deg); /* Safari & Chrome */
-o-transform: translateY(-250px) rotate(180deg); /* Opera */
transition: 0.5s; 
-moz-transition: 0.5s; /* Old Firefox */
-webkit-transition: 0.5s; /* Safari & Chrome */
-o-transition: 0.5s; /* Opera */
}
 
.newhover:hover p { 
opacity: 1;
}
.newhoverTwo { 
/*width: 300px; */
/*height: 250px;*/
height: 220px;
margin: auto; 
position: relative; 
overflow: hidden;  
/*background-color: rgb(192, 192, 192);*/
}
 
 
.newhoverTwo img { 
transition: 0.5s; 
-moz-transition: 0.5s; /* Old Firefox */
-webkit-transition: 0.5s;  /* Safari & Chrome */
-o-transition: 0.5s;  /* Opera */
} 
 
 
.newhoverTwo .effect, .hoverover .content { 
/*width: 300px; */
/*height: 250px; */
height: 100%;
left: 0;
overflow: hidden;
position: absolute;
top: 0;
} 
 
.newhoverTwo .effect { 
background-color: #ffffff;
transform: translateY(-250px) rotate(0deg); 
-moz-transform: translateY(-250px) rotate(0deg); /* Old Firefox */
-webkit-transform: translateY(-250px) rotate(0deg);  /* Safari & Chrome */
-o-transform: translateY(-250px) rotate(0deg); /* Opera */
opacity: 0.9;
}
 
.newhoverTwo:hover .effect  { 
transition: 0.5s; 
-moz-transition: 0.5s; /* Old Firefox */
-webkit-transition: 0.5s; /* Safari & Chrome */
-o-transition: 0.5s; /* Opera */
transform: translateY(0px) rotate(360deg); 
-moz-transform: translateY(0px) rotate(360deg); /* Old Firefox */
-webkit-transform: translateY(0px) rotate(360deg); /* Safari & Chrome */
-o-transform: translateY(0px) rotate(360deg); /* Opera */
} 
 
.newhoverTwo:hover img { 
transform: translateY(-250px) rotate(180deg);
-moz-transform: translateY(-250px) rotate(180deg); /* Old Firefox */
-webkit-transform: translateY(-250px) rotate(180deg); /* Safari & Chrome */
-o-transform: translateY(-250px) rotate(180deg); /* Opera */
transition: 0.5s; 
-moz-transition: 0.5s; /* Old Firefox */
-webkit-transition: 0.5s; /* Safari & Chrome */
-o-transition: 0.5s; /* Opera */
}
 
.newhoverTwo:hover p { 
opacity: 1;
}
 
a.box1 { 
background-color: #5cb85c;
border-radius: 5px; 
color: #fff;
padding: 10px; 
text-decoration: none; 
} 
 
a.box1:hover { 
background-color: #333;
color: #fff;
text-decoration: underline; 
}

#ourgoogleservices{
  /*background-image: url("../img/grey_reg.png");*/
  background-color: #ffffff;
  border-top: 3px solid #464646;
  /*border-bottom: 3px solid #464646;*/
  padding-bottom: 27px;
}


/*--------------------------------------------------------------------*/

/* - @Media Mobile Styles - */

@media only screen and (max-width: 768px) {
  
/*nav .phoneSection {display:none;}*/

.phoneSection {position:relative; margin:0 0 .5em 1em; opacity: 0.8; top: 0; width: 230px;}
  
nav .navbar-header {width:100%; height:auto; border-radius:none; border:none; border-bottom-right-radius:0;}

.navbar-collapse ul {margin-top:0px; margin-bottom:0px; background-color:#4B4B4B;}

.popover {display:none !important;}

.mc-dsktop {display:none  !important;}

.mc-mobile {display:block !important;}

.navbar-collapse li a:hover {background-color:#5cb85c !important;}

.newhover { 
  border-right: none;
  }  

}


@media only screen and (max-width: 640px) and (min-width: 520px) {

.ggl-sscrl {width:64%;} 

.navbar-collapse {position: relative;}
.newhover { 
  border-right: none;
  }  
}


@media only screen and (max-width: 640px){

.jumbotron {height:360px;}

.jumbotron h1 {margin-top: 60px;}

.hme-sscrl {margin-top: 20px;}
.newhover { 
  border-right: none;
  }  
}


@media only screen and (max-width: 480px) {

nav .navbar-header {width:100%; position:fixed; border-radius:none; border:none; border-bottom-right-radius:0;}

.navbar-collapse {position: relative; margin-top:103px;}

.jumbotron h1 {margin-top: 90px;}
.newhover { 
  border-right: none;
  }   

}

@media only screen and (max-width: 480px) and (min-width: 361px) {

.bannerBox h1 {font-size:30px;}

}

@media only screen and (max-width: 360px) {

/*.jumbotron h1 {margin-top: 110px;}*/

.mc-home .hme-sscrl {margin-top: 60px;}
.newhover { 
  border-right: none;
  }   
}

@media only screen and (max-width: 320px) {

.bannerBox h1 {font-size:30px;}

.bannerBox .bannerPar h4 {font-size:14px;}

.mc-home .hme-sscrl {margin-top: 78px;}
.newhover{
  width: 100%;
  border-right: none;
}
.newhoverTwo{
  width: 100%;
}

}